{% extends '_base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}
{% block title %}فراموشی رمز عبور{% endblock %}
{% block content %}

    <div class="container">
        <div class="col-12 align-items-center d-flex  justify-content-center p-5">
            <div class="card col-8" style="width: 25rem;height: 15rem">
                <div class="card-body gap-2 d-flex align-items-center flex-column justify-content-center">
                    <h2 class="card-title">فراموشی رمز عبور</h2>
                    <small>کد به شماره ی {{ phone }} ارسال شد</small>
                    <form method="post" action="" novalidate
                          class="d-flex align-items-center  justify-content-center flex-column ">
                        {% csrf_token %}
                        <input type="text" class="form-control text-center" id="code_Rand" name="code_Rand">
                        <p id="time"></p>
                        <input  type="submit" class="btn btn-info col-12" value="ثبت کد">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}

    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            const time = setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = duration;

                }

            }, 1000);
            clearInterval(timer)

        }

        window.onload = function () {
            var TwoMinutes = 60 * 1,
                display = document.querySelector('#time');
            startTimer(TwoMinutes, display);
        };

    </script>
{% endblock %}
