{% extends '_base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}
{% block title %}فراموشی رمز عبور{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-12 align-items-center d-flex  justify-content-center p-5" >
            <div class="card col-8" style="width: 25rem;height: 15rem">
                <div class="card-body gap-2 d-flex align-items-center flex-column justify-content-center">
                    <h2 class="card-title">فراموشی رمز عبور</h2>
                    <h6 class="card-subtitle mb-2 text-body-secondary">شماره تلفن خود را وارد کنید</h6>
                   <form method="post" action="" novalidate class="d-flex align-items-center  justify-content-center flex-column gap-4">
                       {% csrf_token %}
                       <input type="text" class="form-control text-center" id="phone_number" name="phone_number" placeholder="09*********">
                       <input type="submit" class="btn btn-info col-12"  value="دریافت کد">
                   </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

