{% extends '_base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-12 align-items-center d-flex  justify-content-center p-5">
            <div class="card col-8" style="width: 25rem;height: 24rem">
                <div class="card-body gap-2 d-flex align-items-center flex-column justify-content-center">
                    <h2 class="card-title">تغییر رمز</h2>
                    <p>{{ phone }}</p>
                    <form method="post" action="" novalidate
                          class="d-flex align-items-center  justify-content-center flex-column ">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <input type="submit" class="btn btn-info col-12" value="ثبت کد">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}